@use "../../foundation/variables" as *;
.p-detailProject {
    &__title {
        display: flex;
        justify-content: center;
        font-size: $font-size_3l;
        color: $main-color;
        margin-bottom: $space_3l;
        &--msg {
            display: flex;
            justify-content: center;
            font-size: $font-size_xl;
            color: $main-color;
            margin-bottom: $space_3l;
        }
    }
    &__formContainer {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-bottom: $space_3l;
    }
    &__form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        box-shadow: 0 2px 8px $shadow;
        border-radius: 25px;
        padding: $space_3l;
        box-sizing: border-box;
        margin-bottom: 100px;
        width: 100%;
        &--modal {
            margin-top: 50px;
        }
    }
    &__itemContainer {
        display: flex;
        align-items: center;
        margin-bottom: $space_xl;
        width: 100%;
        &--price {
            display: none;
            align-items: center;
            justify-content: center;
            margin-bottom: $space_xl;
            width: 100%;
        }
    }
    &__item {
        margin-bottom: $space_xl;
        display: flex;
        flex-direction: column;
        &--projectType {
            margin-bottom: $space_xl;
            display: flex;
            flex-direction: column;
        }
        &--price {
            display: none;
            margin-bottom: $space_xl;
            display: flex;
            flex-direction: column;
        }
    }
    &__labelContainer {
        display: flex;
        align-items: center;
        justify-content: start;
        margin-bottom: $space_m;
    }
    &__radioContainer {
        display: flex;
        align-items: center;
        justify-content: start;
    }
    &__label {
        width: 80px;
        font-size: $font-size_l;
        font-weight: bold;
        color: $main-color;
    }
    &__inputContainer {
        display: flex;
        align-items: center;
    }
    &__input {
        height: 30px;
        width: 450px;
        &--price {
            width: 200px;
            height: 30px;
            margin-right: $space_m;
        }
    }
    &__textarea {
        width: 450px;
        &--msg{
            width: 450px;
            height: 200px;
            margin-bottom: $space_xxl;
        }
    }
    &__errMsg {
        margin-top: $space_l;
    }
    &__btn {
        &--modal {
            display: flex;
            justify-content: space-around;
        }
        &--cancel {
            background-color: $alert-color;
            border: $alert-color;
            width: 40%;
            height: 50px;
        }
        &--buy {
            width: 40%;
            height: 50px;
        }
    }
    &__btnContainer {
        display: flex;
        width: 100%;
    }
    &__modal {
        width: 400px;
        height: 200px;
        background-color: $white;
        padding: $space_l;
        box-sizing: border-box;
        z-index: 2;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        position: relative;
        // @include mq("lg") {
        //     left: 0%;
        // }
        // @include mq() {
        //     width: 90%;
        //     left: 0%;
        // }
        // @include mq("ss") {
        //     width: 90%;
        // }
        &--cover {
            background: rgba(0, 0, 0, 0.5);
            position: fixed;
            inset: 0;
            z-index: 1;
            display: none;
            justify-content: center;
            align-items: center;
        }
    }
    &__modalClose {
        position: absolute;
        top: 10px;
        right: 15px;
        background: none;
        border: none;
        font-size: $font-size_xxl;
        cursor: pointer;
    }
    &__sentence {
        &--modal {
            text-align: center;
            margin-bottom: $space_3l;
        }
    }
    &__separator {
        margin-right: $space_m;
        margin-left: $space_m;
    }
}
