@use "../../foundation/variables" as *;
.p-mypage{
    display: flex;
    justify-content:flex-start;
    
    
    &__sidebarContainer{
       margin-left: $space_3l;
    }
    &__title{
        font-size: $font-size_xxl;
        color: $main-color;
        margin-bottom: $space_xxl;
    }
    &__subTitle{
        font-size: $font-size_xl;
        color: $main-color;
        margin-bottom: $space_l;
    }
    &__itemContainer{
        
        padding: $space_l;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &__projectList{
        display: flex;
        flex-direction: column;
        margin-bottom: $space_xl;
        background-color: $accent-color;
        padding: $space_l;
        box-sizing: border-box;
        border-radius: $space_l;
        height: 100px;
    }
    &__item{
        display: flex;
        
    }
}