@use "../../foundation/variables" as *;
.p-mypage {
    display: flex;
    justify-content: flex-start;

    &__sidebarContainer {
        margin-left: $space_3l;
    }
    &__projectListContainer {
        display: flex;
        flex-wrap: wrap;
        gap: $space_xl;
        width: 90%;
        margin: 0 auto;
    }
    &__registeredContainer {
        border: 1px solid $main-color;
        padding: $space_xl;
        box-sizing: border-box;
        border-radius: 10px;
        margin-right: $space_3l;
        width: 800px;
    }
    &__appliedContainer {
        border: 1px solid $main-color;
        padding: $space_xl;
        box-sizing: border-box;
        border-radius: 10px;
        margin-right: $space_3l;
        width: 800px;
    }
    &__title {
        font-size: $font-size_xxl;
        color: $main-color;
        margin-bottom: $space_xxl;
        text-align: center;
    }
    &__subTitle {
        font-size: $font-size_xl;
        color: $main-color;
        margin-bottom: $space_l;
    }
    &__listContainer {
        padding: $space_l;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &__projectList {
        display: flex;
        flex-direction: column;
        margin-bottom: $space_xl;
        padding: $space_l;
        box-sizing: border-box;
        border-radius: $space_l;
        box-shadow: 0 4px 12px $shadow;
        width: calc((100% - 2 * $space_xl) / 3);
        
    }
    &__itemContainer {
        display: flex;
        flex-direction: column;
        margin-bottom: $space_l;
        width: 100%;
    }
    &__item {
        display: flex;
    }
    &__itemTitle {
        color: $main-color;
        margin-bottom: $space_m;
        width: 120px;
    }
    &__btn {
        width: 120px;
        height: 30px;
        padding: $space_s;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: $font-size_m;
        text-decoration: none;
    }
}
