@use "../../foundation/variables" as *;
.p-profile{
    border: 1px solid $main-color;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: $space_xl;
    box-sizing: border-box;

    &__title{
        display: flex;
        justify-content: center;
        font-size: $font-size_3l;
        color: $main-color;
        margin-bottom: $space_3l;
    }
    &__form{
        width: 700px;
    }
    &__part{
        display: flex;
        align-items: center;
        margin-bottom: $space_3l;
    }
    &__label{
        margin-right: $space_l;
        font-size: $font-size_l;
        width: 200px;
        margin-right: $space_l;
    }
    &__img{
        width: 20%;
        
    }
    &__input{
        height: 30px;
        width: 450px;
    }
    &__textarea{
        width: 450px;
        height: 200px;
    }
    &__btnContainer{
        display: flex;
        justify-content: flex-end;
    }
}